* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    color: white;
    overflow-x: hidden;
}

/* Big scroll height to control frames */
.scroll-container {
    height: 500vh;
}

/* Intro */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Canvas pinned */
.animation-section {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Ending text */
.end {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
